In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [2]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Lewiston,US,2021-08-13 04:07:11,44.1003,-70.2148,78.39,97,1,0.00
1,1,Hithadhoo,MV,2021-08-13 04:07:12,-0.6000,73.0833,80.51,76,98,8.90
2,2,Utena,LT,2021-08-13 04:07:12,55.5000,25.6000,53.24,97,11,6.98
3,3,Maltahohe,NaN,2021-08-13 04:07:13,-24.8333,16.9833,38.70,70,3,13.56
4,4,Kruisfontein,ZA,2021-08-13 04:07:13,-34.0033,24.7314,48.31,80,92,4.52

In [3]:
# Get the data types.
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [4]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [5]:
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [6]:
# 1. Assign the locations to an array of latitude and longitude pairs.
locations = city_data_df[["Lat", "Lng"]]
# 2. Assign the weights variable to some values.
max_temp = city_data_df["Max Temp"]
# 3. Assign the figure variable to the gmaps.figure() attribute.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# 4. Assign the heatmap_layer variable to the heatmap_layer attribute and add in the locations.
heat_layer = gmaps.heatmap_layer(locations, weights=temps, dissipating=False, max_intensity=300, point_radius=4)

# 5. Add the heatmap layer.
fig.add_layer(heat_layer)
# 6. Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [7]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [8]:
# Heatmap of percent cloudiness
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [9]:
# Heatmap of percent wind
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [10]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [11]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Lewiston,US,2021-08-13 04:07:11,44.1003,-70.2148,78.39,97,1,0.00
1,1,Hithadhoo,MV,2021-08-13 04:07:12,-0.6000,73.0833,80.51,76,98,8.90
8,8,Lebanon,US,2021-08-13 04:07:15,36.2081,-86.2911,80.96,82,1,6.91
10,10,Kapaa,US,2021-08-13 04:07:16,22.0752,-159.3190,84.18,67,20,5.01
11,11,Craig,US,2021-08-13 04:07:16,40.5153,-107.5464,77.59,51,1,0.00
14,14,Puerto Carreno,CO,2021-08-13 04:07:17,6.1890,-67.4859,75.15,94,100,2.30
18,18,Itarema,BR,2021-08-13 04:07:19,-2.9248,-39.9167,78.19,82,6,14.61
26,26,Port-Gentil,GA,2021-08-13 04:07:22,-0.7193,8.7815,76.75,77,60,7.65
28,28,Ust-Omchug,RU,2021-08-13 04:07:23,61.1500,149.6333,78.24,43,11,7.78
33,33,Sola,VU,2021-08-13 04:07:25,-13.8833,167.5500,78.04,78,31,23.42

In [12]:
preferred_cities_df.count()

City_ID       200
City          200
Country       200
Date          200
Lat           200
Lng           200
Max Temp      200
Humidity      200
Cloudiness    200
Wind Speed    200
dtype: int64

In [13]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

              City Country  Max Temp      Lat       Lng Hotel Name
0         Lewiston      US     78.39  44.1003  -70.2148
1        Hithadhoo      MV     80.51  -0.6000   73.0833
8          Lebanon      US     80.96  36.2081  -86.2911
10           Kapaa      US     84.18  22.0752 -159.3190
11           Craig      US     77.59  40.5153 -107.5464
14  Puerto Carreno      CO     75.15   6.1890  -67.4859
18         Itarema      BR     78.19  -2.9248  -39.9167
26     Port-Gentil      GA     76.75  -0.7193    8.7815
28      Ust-Omchug      RU     78.24  61.1500  149.6333
33            Sola      VU     78.04 -13.8833  167.5500

In [14]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [31]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")
        
hotel_df.head(10)

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

,City,Country,Max Temp,Lat,Lng,Hotel Name
0,Lewiston,US,78.39,44.1003,-70.2148,Hilton Garden Inn Auburn Riverwatch
1,Hithadhoo,MV,80.51,-0.6000,73.0833,Scoop Guest House
8,Lebanon,US,80.96,36.2081,-86.2911,Hampton Inn & Suites Lebanon
10,Kapaa,US,84.18,22.0752,-159.3190,Sheraton Kauai Coconut Beach Resort
11,Craig,US,77.59,40.5153,-107.5464,"Candlewood Suites Craig-Northwest, an IHG Hotel"
14,Puerto Carreno,CO,75.15,6.1890,-67.4859,Casa Hotel Victoria
18,Itarema,BR,78.19,-2.9248,-39.9167,"Sea Lounge! Bar, Club & Restaurant"
26,Port-Gentil,GA,76.75,-0.7193,8.7815,Fengshui Residence
28,Ust-Omchug,RU,78.24,61.1500,149.6333,
33,Sola,VU,78.04,-13.8833,167.5500,Leumerus Bungalows

In [33]:
# Add a heatmap of temperature for the vacation spots.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [34]:
info_box_template = """
<dl>
<dt>Name</dt><dd>{column1}</dd>
<dt>Another name</dt><dd>{column2}</dd>
</dl>
"""

In [35]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

In [36]:
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [37]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))